@model OBOTool.Models.WellDetail

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name) </h2>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    @Html.Partial("_Details")
</div>
